
<div class="edit">


<br>


          <div class="preadmin">
              <input type="text" ng-model="email" placeholder="email">
              <input type="text" ng-model="password" placeholder="password">

              <input type="text" ng-model="newfullName" placeholder="new fullname">
              <input type="text" ng-model="newemail" placeholder="new email">
              <input type="text" ng-model="newpassword" placeholder="new password">
             
              <button ng-click="edit(email,password,newfullName,newemail,newpassword)">edit admin</button>

          </div>







</div> <!--end of preadmin--> 