*{
  font-family: Helvetica Neue LT Std;
}



.menu{
	position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	height: 100vh;
	background-color: #9fac39;
	z-index: 999;
	opacity: 0.9;
	padding: 0px !important;
	display: none;

}


.bus img{
    height: 185px !important;
    width: auto;
}


.bus{
    text-align: center;
    position: relative;
    top: 0px;
    bottom: 0px;
    display: none;
}




.admin{
    background-color: grey;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.more{
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #c0bdbd;
    border-radius: 5px;
    color: #c0bdbd;
}

.more:active{
    background-color: #c0bdbd;
    color: white;
    border-bottom: 1px solid #c0bdbd;
}

button:focus {outline:0;}


.yellowhead{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 100;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}


.menu ul{
	text-align: center;
	list-style: none;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 100;
	width: 100% !important;
	padding: 0px !important;

}

.menu ul li a{
	color: white;
	text-decoration: none;
}

.menubars{
	padding-top: 20px;
	padding-left: 20px;
	display: block;
}



.footer{
	position: fixed;
	bottom: 0px;
	width: 15%;
	background-color: #474748;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 100;
}


.introcont{
	/*background-color: #84bec7;*/
	height: 100vh;
}



.aboutme{
	width: 80%;
	margin: 0 auto;
	display: none;
}

.aboutme p{
	text-align: justify;
	color: #818080;
	font-size: 20px;
	font-weight: 200;
}


.me{
	background-color: #393939;
	height: 780px;
}


